head, body {
  background-color: #8f0e13;
  font-family: arial;
  color: #faf1ca
}

p {
  margin:auto;
  width:60%;
  padding-bottom:10px
}

      
a:link, a:visited, a:active {
  color: #faf1ca;
  font-family: arial;
  font-weight: bold;
  text-decoration: none
}

a:hover {
  color: #faf1ca;
  font-family: arial;
  font-weight: bold;
  text-decoration: underline
}
